appdirs
appnope
attrs
backcall
bleach
brewer2mpl
certifi
chardet
Click
colorclass
cycler
decorator
defusedxml
distlib
ecmwf-api-client
entrypoints
filelock
fortran-language-server
future
GDAL
ggplot
gitdb
gitdb2
GitPython
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
jedi
Jinja2
json5
jsonschema
jupyter-client
jupyter-contrib-core
jupyter-core
jupyter-nbextensions-configurator
jupyterlab
jupyterlab-server
kiwisolver
MarkupSafe
matplotlib
meson
mistune
nbconvert
nbformat
notebook
numpy
packaging
pandas
pandocfilters
parso
patsy
pbr
pew
pexpect
pickleshare
pip-check
pip-chill
pip-upgrade-outdated
pipdate
pipdeptree
pluggy
prometheus-client
prompt-toolkit
ptyprocess
py
Pygments
pyparsing
PyQt5
PyQt5-sip
pyrsistent
python-dateutil
python-jsonrpc-server
python-language-server
pytz
PyYAML
pyzmq
requests
scipy
seaborn
Send2Trash
sip
six
smmap
smmap2
statsmodels
stevedore
terminado
terminaltables
testpath
toml
tornado
tox
traitlets
ujson
urllib3
virtualenv
virtualenv-clone
virtualenvwrapper
wcwidth
webencodings
zipp
