# Global options

--no-binary :all:

# Basics

virtualenv==16.7.10
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4

# Development tools

colorlog==4.1.0
six==1.14.0
stevedore==1.32.0
pbr==5.4.4
lxml==4.5.0

Cython==0.29.15

configparser==4.0.2
ZConfig==3.5.0

PyYAML==5.3

f90wrap==0.2.2
line-profiler==3.0.2
fortran-magic==0.7

pytest==4.6.9
pytest-cov==2.8.1
pytest-forked==1.1.3
pytest-html==1.22.1
pytest-metadata==1.8.0
pytest-mock==2.0.0
pytest-runner==5.2
pytest-xdist==1.31.0

coverage==5.0.3

mock==3.0.5

autopep8==1.5

pycodestyle==2.5.0
pydocstyle==3.0.0
pyflakes==2.1.1

egenix-mx-base==3.2.9
python-dateutil==2.8.1

cookiecutter==1.7.0

# Documentation

Cheetah==2.4.4
Jinja2==2.11.1
jinja2-time==0.2.0
Mako==1.1.1

Sphinx==1.8.5
sphinx-rtd-theme==0.4.3
sphinxcontrib-websupport==1.1.2

Pygments==2.5.2

Markdown==3.1.1
pandocfilters==1.4.2

# Internet

ftputil==3.4
pycurl==7.43.0.5
urlgrabber==4.1.0

# Databases

SQLAlchemy==1.3.13
sqlitebck==1.4
alembic==1.4.0
psycopg2==2.8.6

# Data formats

h5py==2.10.0
netCDF4==1.5.3
cftime==1.0.4.2
cfgrib==0.9.6.2

ecmwf-api-client==1.5.4
cdsapi==0.2.7

# Numerics

pandas==0.24.2
xarray==0.11.3
pyFFTW==0.12.0
statsmodels==0.10.2

# GIS things

GDAL==2.4.4
pyproj==2.2.2

# Graphics

Pillow==6.2.2
matplotlib==2.2.5
pyshp==2.1.0
Shapely==1.7.0
# Cartopy==0.17.0 # requires CPPFLAGS="-DACCEPT_USE_OF_DEPRECATED_PROJ_API_H", so build as special case
seaborn==0.9.1
ggplot==0.11.5

git+https://github.com/gldnspud/virtualenv-pythonw-osx

# iPython and friends

# tornado==5.1.1
# jsonschema==3.2.0
# ptyprocess==0.6.0
# terminado==0.8.3
# jupyter-client-5.3.4
# jupyter-core-4.6.3
# pyzmq-19.0.0
# tornado-5.1.1

ipython==5.9.0
ipython-genutils==0.2.0
ipykernel==4.10.1
ipywidgets==7.5.1

ipython-sql==0.3.9

# Dependencies

# Notes:
#  - #  means not installed so far and I'm not sure if I really need it
#  - ## means automatically resolved from the above list of things

## aenum==2.2.3
## alabaster==0.7.12
## apipkg==1.5
## appdirs==1.4.3
## appnope==0.1.0
## arrow==0.15.5
## atomicwrites==1.3.0
## attrs==19.3.0
## Babel==2.8.0
## backports-abc==0.5
## backports.functools-lru-cache==1.6.1
## backports.shutil-get-terminal-size==1.0.0
# backports.ssl-match-hostname==3.7.0.1
# beniget==0.2.0
## binaryornot==0.4.4
# bleach==3.1.1
# bokeh==1.4.0
## brewer2mpl==1.4.1
## certifi==2019.11.28
## chardet==3.0.4
## click==7.0
## contextlib2==0.6.0.post1
## cycler==0.10.0
## decorator==4.4.1
# defusedxml==0.6.0
## distlib==0.3.0
## docutils==0.16
# entrypoints==0.3
## enum34==1.1.6
## execnet==1.7.1
## filelock==3.0.12
## funcsigs==1.0.2
# functools32==3.2.3.post2
## future==0.18.2
## futures==3.3.0
# gast==0.3.3
# html5lib==1.0.1
## idna==2.9
## imagesize==1.2.0
## importlib-metadata==1.5.0
## importlib-resources==1.0.2
# ipaddress==1.0.23
# jedi==0.16.0
## kiwisolver==1.1.0
## MarkupSafe==1.1.1
# mccabe==0.6.1
# mistune==0.8.4
## more-itertools==5.0.0
# mpmath==1.1.0
# networkx==2.2
# optlang==1.4.4
## packaging==20.1
# parso==0.6.1
# path.py==11.5.2
# pathlib==1.0.1
## pathlib2==2.3.5
## patsy==0.5.1
## pexpect==4.8.0
## pickleshare==0.7.5
## pluggy==0.13.1
# ply==3.11
## poyo==0.5.0
# prometheus-client==0.7.1
## prompt-toolkit==1.0.18
# psutil==5.6.7
## py==1.8.1
## pyparsing==2.4.6
# pyrsistent==0.15.7
## python-editor==1.0.4
# python-jsonrpc-server==0.3.4
# pythonz-bd==1.11.4
## pytz==2019.3
## requests==2.22.0
# rope==0.16.0
## scandir==1.10.0
# Send2Trash==1.5.0
# shutilwhich==1.1.0
## simplegeneric==0.8.1
## singledispatch==3.4.0.3
## snowballstemmer==2.0.0
## subprocess32==3.5.4
# testpath==0.4.4
# toml==0.10.0
## traitlets==4.3.3
## typing==3.7.4.1
# ujson==1.35
## urllib3==1.25.8
## wcwidth==0.1.8
# webencodings==0.5.1
## whichcraft==0.6.1
## zipp==1.2.0
