# Global options

--no-binary :all:

# Packages for development
joblib
pytest                 # TODO: Does pytext have to installed in local virtualenvs?

# Packages for Jupyter
jupyter                # Installs LOTS of dependencies including ipython; non-binary install fails

# Packages for data formats
netCDF4                # includes cftime
h5py

# Packages for science
# numpy                # via brew
# scipy                # via brew
# pillow               # via brew
# matplotlib           # via brew (python-matplotlib)

# Other
# virtualenvwrapper    # via brew
# jupyterlab           # via brew - jupyter package still required
# gdal                 # via brew
# setuptools           # via brew (python-setuptools, python-packaging)
# wxpython             # via brew