# Global options

--no-binary :all:

# Packages
appdirs
appnope
apscheduler
attrs
backcall
bleach
brewer2mpl
certifi
cftime
chardet
Click
colorclass
cycler
cython
decorator
defusedxml
distlib
ecmwf-api-client
cdsapi
cftime
cfgrib
entrypoints
filelock
fortran-language-server
future
ggplot
gitdb
gitdb2
GitPython
h5py
idna
importlib-metadata
ipykernel
ipywidgets
ipython
ipython-genutils
ipython-sql
jedi
Jinja2
json5
jsonschema
jupyter-client
jupyter-contrib-core
jupyter-core
jupyter-nbextensions-configurator
jupyterlab
jupyterlab-server
jupyterlab_templates
kiwisolver
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
netCDF4
notebook
numpy
packaging
pandas
pandocfilters
parso
patsy
pbr
pew
pexpect
pickleshare
pip-check
pip-chill
pip-upgrade-outdated
pipdate
pipdeptree
pluggy
prometheus-client
prompt-toolkit
psutil
psycopg2
ptyprocess
py
Pygments
pyparsing
PyQt5
PyQt5-sip
pyrsistent
python-dateutil
python-jsonrpc-server
python-language-server
python_logging_rabbitmq
pytz
PyYAML
pyzmq
requests
scipy
seaborn
Send2Trash
sip
six
smmap
smmap2
statsmodels
stevedore
terminado
terminaltables
testpath
toml
tornado
tox
traitlets
ujson
urllib3
virtualenv==16.7.10
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
wcwidth
webencodings
xarray
zipp
