Hmisc          # Basic things
svd
ctv
mvtnorm
spam
mclust
tidyverse      # Tidyverse
zeallot
glue
skimr
DT
dtplyr
tidymodels
reticulate     # Python interfacing
akima          # Polynomial fitting & smoothing
locfit
locpol
lpridge
kernlab
mice           # Multiple imputation
robustbase     # Robust statistics
robustreg
robustHD
rrcov
rrcovNA
rrcovHD
robcor
robCompositions
mvoutlier
RobStatTM
cellWise
GSE
xts            # Time series
zoo
astsa
prophet
multitaper
Rwave          # Time-Frequency Analysis
SynchWave
EMD
ggplot2        # Plotting
ggvis
ggforce
ggpubr
ggridges
ggthemes
hrbrthemes
cowplot
patchwork
lemon
isoband
metR
corrplot
magick
plotly
latex2exp
mgcViz         # GAMs and GAMLSS
gamm4
qgam
gamlss
gamlss.add
gamlss.cens
gamlss.countKinf
gamlss.data
gamlss.demo
gamlss.dist
gamlss.foreach
gamlss.ggplots
gamlss.inf
gamlss.lasso
gamlss.mx
gamlss.spatial
gamlss.tr
GJRM
rgeos          # Spatial and spatial-temporal
rgdal
sp
sf
raster
spacetime
lwgeom
rnaturalearth
rnaturalearthdata
sm
kriging
maps           # Maps
mapdata
mapproj
maptools
ggmap
ggspatial
rasterVis
rosm
Directional    # Directional statistics
arrow          # Data formats
hdf5r
ncdf4
RNetCDF
tidync
udunits2       # Units
units
DBI            # Data bases
RSQLite
RPostgres
dbplyr
pool
fuzzyjoin
devtools       # Development tools
packrat
argparse
optparse
config
futile.logger
futile.options
getopt
whisker
RcppCNPy
RUnit
git2r
drat
quarto         # Documentation
bookdown
formatR
kableExtra
gt
gtsummary
modelsummary
rticles
roxygen2
workflowr
shiny          # HTML
shinydashboard
shinyWidgets
flexdashboard
bslib
htmlwidgets
leaflet
repr           # IRKernel for Jupyter Notebooks
IRkernel
IRdisplay
evaluate
pbdZMQ
uuid
digest
foreach        # Parallel processing
doParallel
doRNG
multidplyr
future
rstan          # Bayesian statistics
rstantools
bayesplot
loo
shinystan
rstanarm
brms
caret          # Machine and deep learning
tidymodels
bonsai
mlr
mlr3
pdp
vip
tree
rpart
ranger
lightgbm
xgboost
h2o
tensorflow
keras
tfdatasets
