mgcv          # GAMs and GAMLSS
qgam
gamlss
gamlss.add
gamlss.cens
gamlss.data
#gamlss.demo    # retired from CRAN as of 2026-09-24, confirmed via available.packages()
gamlss.dist
#gamlss.foreach # retired from CRAN as of 2026-09-24, confirmed via available.packages()
#gamlss.ggplots # retired from CRAN as of 2026-09-24, confirmed via available.packages()
gamlss.inf
gamlss.lasso
#gamlss.mx      # retired from CRAN as of 2026-09-24, confirmed via available.packages()
#gamlss.spatial
gamlss.tr
gamm4
qgam
GJRM
mgcViz
caret          # Machine learning
tidymodels
bonsai
mlr
mlr3
pdp
#vip # retired from CRAN as of 2026-09-24, confirmed via available.packages()
tree
rpart
ranger
lightgbm
xgboost
h2o
tensorflow
keras
tfdatasets
rstan         # Bayesian statistics
rstantools
bayesplot
loo
shinystan
rstanarm
brms
bridgesampling
