htmlwidgets
Hmisc          # Basic things
svd
ctv
mvtnorm
spam
mclust
zeallot
tidyverse      # Tidyverse
shiny          # Web
shinydashboard
shinyWidgets
DT
leaflet
akima          # Polynomial fitting & smoothing
locfit
locpol
lpridge
kernlab
mice           # Multiple imputation
robustbase     # Robust statistics
robustreg
robustHD
rrcov
rrcovNA
rrcovHD
robcor
robCompositions
mvoutlier
RobStatTM
cellWise
GSE
xts            # Time series
zoo
astsa
Rwave          # Time-Frequency Analysis
SynchWave
EMD
ggplot2        # Plotting
ggvis
ggforce
ggpubr
ggridges
ggthemes
hrbrthemes
cowplot
patchwork
isoband
magick
sp             # Spatial
sf
raster
maptools
spacetime
lwgeom
rgeos
rgdal
rosm
maps           # Maps
mapdata
mapproj
ggmap
ggspatial
rasterVis
reticulate     # Python interfacing
feather        # Data formats
hdf5r
ncdf4
RNetCDF
tidync
rstan          # Baysian statistics
rstantools
bayesplot
loo
shinystan
rstanarm
brms
udunits2       # Units
units
#"DBI          # Data bases
RSQLite
RPostgres
pool
fuzzyjoin
devtools       # Development tools
packrat
argparse
optparse
futile.logger
futile.options
getopt
RcppCNPy
RUnit
git2r
bookdown       # Documentation
formatR
kableExtra
rticles
roxygen2
repr           # IRKernel for Jupyter Notebooks
IRkernel
IRdisplay
evaluate
pbdZMQ
uuid
digest
foreach        # Parallel processing
doParallel
doRNG
