Hmisc          # Basic things
ctv
mvtnorm
tidyverse      # Tidyverse
shiny          # Web
shinydashboard
shinyWidgets
DT
htmlwidgets
leaflet
akima          # Polynomial fitting & smoothing
locfit
locpol
lpridge
mice           # Multiple imputation
robustbase     # Robust statistics
robustreg
rrcov
rrcovNA
rrcovHD
robCompositions
mvoutlier
RobStatTM
GSE
xts            # Time series
zoo
astsa
Rwave          # Time-Frequency Analysis
SynchWave
EMD
ggvis          # Plotting
ggthemes
hrbrthemes
cowplot
sp             # Spatial
sf
raster
maptools
spacetime
lwgeom
rgdal
rosm
maps           # Maps
mapdata
mapproj
ggmap
ggspatial
rasterVis
reticulate     # Python interfacing
feather        # Data formats
hdf5r
ncdf4
udunits2       # Units
units
#"DBI          # Data bases
RSQLite
RPostgres
fuzzyjoin
devtools       # Development tools
packrat
argparse
optparse
futile.logger
futile.options
getopt
RcppCNPy
RUnit
bookdown       # Documentation
formatR
rticles
roxygen2
repr           # IRKernel for Jupyter Notebooks
IRkernel
IRdisplay
evaluate
pbdZMQ
uuid
digest
foreach        # Parallel processing
doParallel
doRNG
